<section class="w3l-index5" id="about">
    <div class="new-block py-5">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="middle-section text-center">
                <div class="section-width">
                    <h3 class="w3l-title-main"> Ofiste bir günüm nasıl mı geçiyor? </h3>
                    <p class="mt-3">
                        Hakkımda daha fazla bilgi edinmek için videoyu izleyebilirsiniz
                    </p>
                </div>
                <div class="history-info mt-5 ">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/9g7rFjOuggU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>


            </div>
        </div>
    </div>
</section>
