@model ResumeProject.Models.TblTech
@{
    ViewBag.Title = "UpdateTech";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Teknoloji Güncelleme Sayfası</h2>

<form method="post">
    @Html.HiddenFor(x => x.TechID, new { @class = "form-control" })
    <label>Teknoloji Adı</label>
    @Html.TextBoxFor(x => x.TechTitle, new { @class = "form-control" })
    <br />
    <label>Teknoloji Değeri</label>
    @Html.TextBoxFor(x => x.TechValue, new { @class = "form-control" })
    <br />
    <button class="btn btn-outline-success">Verileri Güncelle</button>
</form>