@using ResumeProject.Models

@model List<TblContact>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<h2>Gelen Mesajlar</h2>

<table id="tblcontact" class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Ad Soyad</th>
            <th>Konu</th>
            <th>Tarih</th>
            <th>Sil</th>
            <th>Mesajı Aç</th>
        </tr>
    </thead>


    <tbody>
        @foreach (var x in Model)
        {
            count++;
            <tr>
                <td>@count</td>
                <td>@x.NameSurname</td>
                <td>@x.TblCategory.CategoryName</td>
                <td>@x.Date</td>
                <td><a href="/Contact/DeleteContact/@x.ContactID" class="btn btn-outline-danger">Sil</a></td>
                <td><a href="/Contact/OpenContact/@x.ContactID" class="btn btn-outline-info">Mesajı Aç</a></td>
            </tr>

        }
    </tbody>

</table>





<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />

<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>

<script>
    $(document).ready(function () {
        $('#tblcontact').DataTable();
    });
</script>