@model ResumeProject.Models.TblCategory
@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Kategori Ekleme Sayfası</h2>

<form method="post">
    <label>Kategori Adı</label>
    @Html.TextBoxFor(x=>x.CategoryName, new  {@class="form-control" })
    @Html.ValidationMessageFor(x=>x.CategoryName,"" ,new  { @style= "color:red" })
    <br />
    <button class="btn btn-outline-primary" >Yeni Kategori Ekle</button>


</form>

